# Ensure Python files are recognized
*.py linguist-language=Python

# Ensure SQL files are recognized
*.sql linguist-language=SQL

# Ensure SQL files in specific directories are recognized
leetcode/**/*.sql linguist-language=SQL
data/scripts/**/*.sql linguist-language=SQL
data/queries/**/*.sql linguist-language=SQL

# Include any SQL files in other directories
other_dir/*.sql linguist-language=SQL
